/* Gaya untuk judul 'Produk' */

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 40px;
}


/* Gaya untuk kontainer produk */

.product-container {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* Gaya untuk setiap kartu produk */

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Gaya untuk gambar produk */

.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}


/* Gaya untuk detail produk */

.product-details h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.product-details p {
    margin-bottom: 6px;
}


/* Gaya untuk tautan 'Tambah ke Keranjang' */

.product-actions a {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 20px;
    background-color: #198754;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product-actions a:hover {
    background-color: #0c7242;
}